/* Reset default spacing */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/* Root level styles for full background */
html, body, #root {
  height: 100%;
  font-family: 'Segoe UI', 'Outfit', sans-serif;
  background: linear-gradient(to bottom right, #1e0033, #3A004F); 
  color: #ffffff;
}

.white-checkbox-group .ant-checkbox-wrapper {
  color: white !important;
}

.white-checkbox-group .ant-checkbox-inner {
  background-color: transparent;
  border-color: #bb6ae0;
}

.white-checkbox-group .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #bb6ae0;
  border-color: #bb6ae0;
}
